.hero {
  &.landing.page.image {
    margin-top: -7px;
    pointer-events: none;
    background-image: url(/assets/img/dark_bg_pattern.png);
    background-repeat: repeat;
    &> img {
      padding-top: $fixed_anchor_top_space;
      padding-bottom: $fixed_anchor_top_space * 2/3;
      max-width: 500px !important;
      margin: auto;
    }
  }
}
