nav.ui.main.navigation.menu {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0 !important;
  z-index: 999;
  background-image: $pattern_url_light;
  background-repeat: repeat;
  &> .item:first-child {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  &> .left.menu {
    padding: 0 !important;
  }
  .item:not(.active) {
    height: 100%;
    &.brand {
      background-color: $brand-color !important;
    }
    &.team {
      background-color: $team-color !important;
    }
    &.agent.marketing {
      background-color: $agentm-color !important;
    }
    &.athlete {
      background-color: $athlete-color !important;
    }
    &.agent.sports {
      background-color: $agents-color !important;
    }
  }
  &> .ui.steps {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    &> .step {
      padding-top: 0.5em !important;
      padding-right: 0.5em !important;
      padding-bottom: 0.5em !important;
      padding-left: 0.5em !important;
      font-size: 1rem !important;
      line-height: 1rem !important;
      &:not(:first-child) > i.icon {
        margin-left: 1rem !important;
      }
      &> i.icon {
        margin-right: 0.5rem !important;
      }
    }
  }
}

.bottom.about.menu {
  margin-top: -7px;
  margin-bottom: -7px;
}

.ui.labeled.icon.menu {
  background-image: $pattern_url_dark_very;
  background-repeat: repeat;
  &> a.header.item {
    color: white;
    &.brand, &.team, &.agent, &.athlete {
      color: black !important;
    }
    &> i.icon:not(.dropdown) {
      font-size: 1em !important;
    }
  }
}