@mixin pattern($p, $c, $potential) {
  &:before {
    content: ' ';
    position: absolute !important;
    background-color: $c !important;
    width: 100% !important;
    height: 100% !important;
  }
  & {
    background-image: $p;
  }
}
