@mixin pattern($p, $c, $potential) {
  background-image: $p, radial-gradient(ellipse farthest-corner, transparent 0%, transparent 67%, $complementary_bg_4 100%) !important;
  background-color: $c !important;
  background-blend-mode: luminosity !important;
}
