$medium: 20px;
$color_team: $red;
$color_athlete: $blue;
$color_brand: $green;
$color_agentm: $yellow;
$color_agents: $grey;

.shiny {
  &.white {
    box-shadow: 0 0 10px $white;
    border-radius: 500em !important;
    border: 1px solid $white !important;
  }
  &.dark {
    box-shadow: 0 0 15px 1px black !important;
  }
}

.text, .text-color {
	&.shiny.white {
		text-shadow: 0 0 1px white !important;
	}
  &.shiny.black {
    text-shadow: 0 0 1px $black !important;
  }
  &.uppercase {
    text-transform: uppercase !important;
  }
}
.margin {
  &.no {
    &.top {
      margin-top: 0 !important;
    }
  }
  &.top {
    &.medium {
      margin-top: $medium !important;
    }
  }
}
.padding {
  &.no {
    &.top {
      padding-top: 0 !important;
    }
  }
  &.bottom {
    &.medium {
      padding-bottom: $medium !important;
    }
  }
  &.top {
    &.medium {
      padding-top: $medium !important;
    }
  }
}

.display-block {
  display: block !important;
}

.fancy.image {
  padding: 7px !important;
  background-image: $pattern_url_light_very;
  opacity: .9;
  border: 1px solid $white;
  border-radius: 3px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
}

.primary-bg-color {
  background-color: $color-primary-0 !important;
}

.children-centered {
  display: flex !important;
  align-items: center;
}

.dummy, .invisible {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

@media only screen and (max-width: 767px)  {
  .mobile__hidden {
    display: none !important;
  }

  .mobile__smaller {
    transform: scale(.5);
  }
}
