#root > .container, .page {
  height: 100%;
  &> .grid:only-child {
    height: 100%;
  }
}
.main.tour.page .ui.grid > .row {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.main.tour.page.container:not(:first-child) {
  border-top: 3px groove $orange;
  &:last-child {
    margin-bottom: 64px;
  }
}

.main.profile.container img.fluid.image {
  border: 1px solid $black;
      background-image: $pattern_url_light;  transition: all .5s ease-in;
      box-shadow: 0 10px 5px -5px rgba($orange, 0.7) !important;
  &:hover {
    transform: scale(1.25);
    transform-origin: center;
  }
}
