$fixed_anchor_top_space: 60px;
$fixed_anchor_bottom_space: 100px;

html, body, #root, main {
  position: relative;
  height: 100%;
}

main {
  &> .ui.stretched.grid {
    @include pattern($pattern_url_dark, $complementary_bg_0, -1);
    margin: 0 !important;
    height: 100%;
    &> .row {
      @include pattern($pattern_url_dark, $complementary_bg_0, 0);
      &:first-child {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
      &.stretched {
        height: calc(100% - #{$fixed_anchor_top_space + $fixed_anchor_bottom_space});
      }
      &:last-child {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }
}

.inverted {
  @include pattern($pattern_url_dark, $transparent, 1000);
  &.lightly {
    @include pattern($pattern_url_light, $primary_bg_0, 1000);
    box-shadow: inset 0 0 21px 3px $primary_bg_1 !important;
  }
}

.button a {
  color: inherit !important;
}

.active.page.dimmer {
  padding-top: $fixed_anchor_top_space * 1/3 !important;
  padding-bottom: $fixed_anchor_top_space * 1/3 !important;
}

#player-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  right: -34px;
  left: 0px;
  background-color: $black;
  box-shadow: 0 0 33px 3px $black;
  &> i:before {
    top: auto !important;
  }
}

iframe#player {
  opacity: .9;
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 0 33px 3px $black;
}
