nav.ui.menu {
  @include pattern($pattern_url_light, $primary-bg-1, 0);
  &:after {
    filter: blur(5px);
  }
  z-index: 9999999;
  max-height: 64px;

  &+ div {
    position: relative;
    margin-top: 64px;
    padding-top: 2rem;
  }
  &~ div:last-of-type {
    position: relative;
    margin-bottom: calc(64px + 2rem);
  }
}
