nav.ui.menu {
  @include pattern($pattern_url_light, $primary-bg-1, 0);
  z-index: 9999999;
}

.fab-item:before {
  display: none;
}

.fab-item > button {
  opacity: 0;
  transform: translateX(-100%) !important;
  transition: opacity .5s, transform .5s;
  &:before { display: none; }
}
.fab-item:nth-of-type(odd) > button {
  transform: translateX(-200%) !important;
  transition-delay: .15s;
}

.fab-menu:hover > .fab-item {
  &> button { opacity: 1; }
  &:nth-of-type(even) > button {
    transform: translateX(0) !important;
  }
  &:nth-of-type(odd) > button {
    transform: translateX(-33%) !important;
  }
}
