#player-wrapper {
  z-index: 9;
  position: relative;
  width: auto;
  height: auto;
  background-color: $black;
  border: 1px solid $orange;
  box-shadow: 0 0 33px 3px $black;
  &> i:before {
    top: auto !important;
    transform: translateX(-50%);
  }
  &> i.icon {
    border: 1px solid $orange;
  }
  &.slogan:before {
    content: "";
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    padding: 1rem 1rem;
    color: $white;
    animation: slogan 15s infinite;
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    text-shadow: 0 0 5px $orange;
  }
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(ellipse farthest-corner, $orange 0%, rgba($orange, 0) 75%);
  }
}

iframe#player {
  position: relative;
  width: 100%;
  height: calc(100% - 1px);
}

#player-poster + span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
}


@media only screen and (min-width: 1920px) {
  #player-wrapper.slogan {
    &:before {
      font-size: 5.3rem !important;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1920px) {
  #player-wrapper.slogan {
    &:before {
      font-size: 4rem !important;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  #player-wrapper.slogan {
    &:before {
      font-size: 3.67rem !important;
      padding-left: 2.67rem;
      padding-right: 2.67rem;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1366px) {
  #player-wrapper.slogan {
    &:before {
      font-size: 2.67rem !important;
      padding-left: 2.2rem;
      padding-right: 2.2rem;
    }
  }
}
