.toggle.checkbox > label:before {
  background-color: $complementary_bg_1 !important;
}

.ui.negative.button:hover {
  background-color: $grey !important;
}
.ui.circular.icon.button {
  margin: auto .5rem !important;
}

.active.page.dimmer {
  padding-top: 64px * 1/3 !important;
  padding-bottom: 64px * 1/3 !important;
}

.button a {
  color: inherit !important;
}

.inverted {
  &, &.icon.circular {
    background-image: $pattern_url_dark !important;
    background-blend-mode: luminosity !important;
    &.tinted {
      background-color: rgba($orange, .7) !important;
    }
    &.transparently {
      @include pattern($pattern_url_transparent, rgba($orange, .7), 0);
      background-blend-mode: lighten !important;
    }
  }
}

.ui.instagram.circular.icon.button {
  background-color: $instagram-purple;
}
