 .social-icons-vertical-container {
   justify-content: center;
}
.video-poster {
  border: 2px solid $orange;
  border-radius: 100%;
}

@media only screen and (min-width: 768px) {
  .video-icons-container.ui.container {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -1rem !important;
  }
  .video-container-group {
    z-index: 99;
    border: none;
    box-shadow: none !important;
    transform: translateY(-50%);
    &> .segment {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .video-container {
      z-index: 9;
      .video-poster {
        transition: transform 0.5s ease-out;
        transform: translateX(0) !important;
      }
      .ui.content.video-poster:hover , .ui.content.video-trigger:hover ~ .video-poster {
        transform: translateX(-121%) !important;
      }
      .video-inactive {
        box-shadow: 0 0 10px 1px black;
        cursor: pointer;
      }
      .video-active {
        box-shadow: 0 0 10px 1px white;
      }
      .video-trigger > button.ui.circular.icon {
        margin: 0 !important;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .video-icons-container.ui.container {
    position: relative;
    top: 0%;
    left: 50%;
    margin: 0 !important;
    .video-container-group {
      margin: 0 !important;
      transform: translateX(-50%);
      .ui.basic.segment {
        &:first-of-type { padding-left: 0 !important; }
        &:last-of-type { padding-right: 0 !important; }
        padding: 0.5rem !important;
      }
    }
  }
  .video-container-group {
    background: none !important;
    justify-content: center;
    align-self: center;
    border: none !important;
    box-shadow: none !important;
    transform: translateX(-50%) translateY(-50%);
    .video-container {
      border: none !important;
      z-index: 9;
      .video-poster {
        transition: transform 0.5s ease-out;
      }
      .ui.content.video-poster:active, .ui.content.video-poster:hover ,
      .ui.content.video-trigger:hover ~ .video-poster, .ui.content.video-trigger:active ~ .video-poster {
        transform: translateY(80%) !important;
      }
      .video-inactive {
        box-shadow: 0 0 10px 1px black;
        cursor: pointer;
      }
      .video-active {
        box-shadow: 0 0 10px 1px white;
      }
      .video-trigger > button.ui.circular.icon {
        margin: 0 !important;
      }
    }
  }
}
