.main.blog.flex-container {
  position: absolute;
  padding: 8rem 1rem; }
  .main.blog.flex-container img {
    width: auto;
    height: auto;
    max-width: 67vw; }

.detail.blog.page img {
  width: auto;
  height: auto;
  max-width: 67vw; }

.detail.blog.page .mobile.only .centered.row > div {
  max-width: calc(100vw - 1rem); }
